* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-layout {
    background-color: #fdf2f2;
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
    // padding: 20px; 
    box-sizing: border-box; 
    height: 1000px;
    font-family: Montserrat;
}

// Header
.header {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 100px;
    border-bottom: 1px solid rgb(230, 230, 230);
    box-shadow: 0px 0px 20px rgba(121, 121, 121, 0.3);
}
.header-jr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 150px;
}
.header .menu ul {
    list-style: none;
    display: flex;
}
.header .menu ul li a {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 16px;
    font-weight: 450;
    margin-left: 20px;
    padding: 10px 0;
}
.header .menu ul li:hover a {
    border-bottom: 2px solid green;
}
.active {
    color: rgb(2, 153, 2) !important;
    font-weight: 700 !important;
}